@charset "utf-8";

/* 全体 */
* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Noto Sans JP", sans-serif;
}

.container {
  overflow: hidden;
}

.wrapper {
  height: 800px;
}

/* メニュー */
.border_back_box {
  width: 70px;
  height: 40px;
  background-color: #bc9c78;
  border: #bc9c78;
  border-radius: 50px;
  position: relative;
  top: 70px;
  left: 5px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.center_logo {
  height: 660px;
  width: 900px;
  align-items: center;
  margin: 0 auto;
}

.center_logo_circle {
  width: 195px;
  height: 190px;
  border-radius: 90px;
  background-color: white;
  position: absolute;
  opacity: 0.5;
  top: 70px;
  left: 27px;
  border: 5px solid white;
}
.center_logo_circle_second {
  width: 195px;
  height: 190px;
  border-radius: 90px;
  position: absolute;
  left: 150px;
  top: 133px;
  border: 5px solid white;
}
.center_logo_circle_third {
  width: 195px;
  height: 190px;
  border-radius: 90px;
  position: absolute;
  right: 35px;
  bottom: 100px;
  background-color: white;
  border: 5px solid white;
}

.center_logo_circle_force {
  width: 195px;
  height: 190px;
  border-radius: 90px;
  position: absolute;
  right: 150px;
  bottom: 163px;
  opacity: 0.5;
  border: 5px solid white;
}

.dog_center_logo {
  position: absolute;
  width: 900px;
  top: 108px;
}

.dog_center_logo_box {
  width: 900px;
  height: 600px;
  align-items: center;
  margin: 0 auto;
}

.hero_container {
  width: 100%;
  height: 788px;
  position: relative;
  background-color: #bc9c78;
  border-radius: 50px;
  margin-top: 70px;
  z-index: 3;
}

.header_logo_box {
  background-color: #bc9c78;
  width: 201px;
  height: 52px;
  border-radius: 50px;
  border: 2px solid white;
  position: absolute;
  top: 9px;
  left: 13px;
}

.dog {
  width: 183px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 8px;
}

/* スライドメニュー */
.btn-menu {
  position: fixed;
  right: 1rem;
  top: 1rem;
  z-index: 4;
  padding: 0.5rem 1rem;
  transition: 0.4s;
  border: 2px solid white;
  border-radius: 50px;
  background-color: #b7a27d;
  width: 64px;
  height: 43px;
}

.top_border {
content:"";
position:absolute;
top:8px;
  border-top: 5px solid white;
  width: 30px;
  transition: 0.4s;
}

.top_border.open {
  transform: translateY(13px)rotate(45deg);
  transition: 0.4s;
  top:4px;
}

.middle_border{
content:"";
position:absolute;
top:17px;
  border-top: 5px solid white;
  width: 30px;
  transition: 0.4s;
}

.middle_border.open {
opacity: 0;
}

.bottom_border{
content:"";
position:absolute;
top:26px;
  border-top: 5px solid white;
  width: 30px;
  transition: 0.4s;
}

.bottom_border.open {
  transform: translateY(-13px)rotate(-45deg);
  transition: 0.4s;
  top:30px;
}


.btn-menu svg {
  fill: white;
  margin-top: 0.25rem;
  height: 2rem;
  width: 2rem;
}

#menu-close svg {
  fill: white;
}

#menu-panel {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  padding: 8rem 8rem 2rem;
  width: max(23vw, 25rem);
  height: 100vh;
  background-color: #bc9c78;
  box-shadow: 0 0 2rem var(--brown);
  font-family: var(--oswald-font);
  translate: 103vw;
  border-left: 4px solid white;
  color: white;
}

#menu-panel.open {
  translate: 0;
    opacity: 1;
}

#menu-panel.open li {
    opacity: 1;
}


.menu-list {
  list-style: none;
}
.menu-list li {
  margin: 1.5rem 0;
  opacity: 0;
}
.menu-list a {
  color: var(--light-green);
  text-decoration: none;
  font-size: 2rem;
}

.humburger_menu {
  height: 52px;
  position: absolute;
  top: -5px;
  left: -8px;
}

#menu-open {
  border: 2px solid white;
  border-radius: 50px;
  background-color: #bc9c78;
  width: 64px;
  height: 43px;
  z-index: 10000;
}

.cross_menu {
  height: 52px;
  position: absolute;
  top: -5px;
  left: -8px;
}

.menu_logo {
  position: relative;
  top: -106px;
  left: -90px;
  width: 61px;
}

.mask {
  height: 100%;
  background-color: #ffffff;
  opacity: 0.6;
}

/* ローディング画面 */
#loading {
  transition: all 3s;
  background-color: #ddd;
  position: fixed;
  z-index: 9999;
  inset: 0;
  display: grid;
  place-items: center;
}
.spinner {
  width: 1536px;
  height: 100%;
}

/* ローディング完了したらローディング画面を隠す */
.loaded {
  opacity: 0;
  visibility: hidden;
}

/* ホバー */
.dog_born:hover::before {
  position: absolute;
  content: "";
  top: 3px;
  left: -39px;
  background-image: url(../image/dog_born_logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 32px;
  height: 43px;
  display: inline-block;
}

.dog_born:hover {
  opacity: 0.5;
}

.dog_born{
  position: relative;
}


/* ここまで */

/* タイトル浮き上がらせる設定（transitionは元のクラス名に付ける） */
.title_fade_in {
  opacity: 0;
  visibility: hidden;
  transition: 0.7s;
}

.title_fade_in.show {
  opacity: 1;
  visibility: visible;
}
/* タイトル浮き上がらせる設定　ここまで */

/* footer */
footer{
  display: block;
}

.footer_mail_font {
  color: white;
  font-size: 15px;
  padding-bottom: 7px;
}

.footer_mail_box {
  background-color: white;
  width: 570px;
  height: 50px;
  display: flex;
  align-items: center;
}

.footer_mail_text {
  color: #3f3a31;
  font-size: 20px;
  padding-left: 7px;
}

.footer_sns_position {
  position: relative;
  top: -18px;
  left: 200px;
}

.footer_contact_title {
  font-size: 30px;
  font-weight: bold;
  color: white;
  font-family: "Archivo Black", sans-serif;
}

.footer_color {
  height: 300px;
  color: white;
  padding-left: 50px;
}

.footer_backcolor {
  background-color: #bc9c78;
  display: flex;
  border-top: 5px solid white;
  justify-content: center;
  gap: 287px;
  padding-top: 45px;
}

.footer_sns_color {
  width: 21px;
}

.footer_mail_font_linebreak {
  display: none;
}

.top_link {
  border: 3px solid white;
  background-color: #bc9c78;
  border-radius: 100%;
  width: 65px;
  height: 65px;
  position: fixed;
  right: 16px;
  /* top: 547px; */
  top: 615px;
  opacity: 1;
  z-index: 9999;
}

.top_link_text {
  color: white;
  text-align: center;
  font-weight: bold;
  padding-top: 3px;
}

.top_link_logo {
  position: absolute;
  left: 13px;
  width: 35px;
}

#btn {
  opacity: 1;
  visibility: visible;
  transition: 0.4s;
}

#btn.active {
  opacity: 0;
  visibility: hidden;
}

/* works */

.works_title {
  width: 100%;
  font-size: 115px;
  font-weight: bold;
  color: #8d7962;
  padding-top: 55px;
  padding-left: 30px;
  padding-bottom: 10px;
  font-family: "Archivo Black", sans-serif;
}

.works_box {
  height: 100%;
  position: relative;
  margin-top: -48px;
}

.works_content {
  display: flex;
  justify-content: center;
  gap: 54px;
  padding: 50px 30px 0;
  text-align: center;
  margin: 0 auto;
}

.works_items {
  height: 350px;
  width: 254px;
  margin: 0 auto;
}

.works_image_backgroundcolor {
  background-color: white;
  height: 253px;
  border-radius: 37px;
}

.works_wrapper {
  height: 1300px;
  background-color: #ffedb3;
  border-radius: 0 0 50px 50px;
  position: relative;
  z-index: 1;
}

.works_logo_image {
  width: 171px;
  margin-top: 22px;
  object-fit: cover;
  padding-bottom: 50px;
}

.works_logo_image:hover {
  opacity: 0.5;
  /* border: 2px solid #15151557; */
}

.works_bc_image {
  width: 171px;
  margin-top: 68px;
  object-fit: cover;
  border: 1px solid black;
}

.works_thumbnail_image {
  width: 171px;
  margin-top: 42px;
  object-fit: cover;
  border: 1px solid black;
}

.works_thumbnail_image:hover {
  opacity: 0.5;
}

.works_bc_image:hover {
  opacity: 0.5;
}

.works_cafesite_image {
  width: 171px;
  margin-top: 22px;
  object-fit: cover;
}

.works_cafesite_image:hover {
  opacity: 0.5;
}

.works_preparation_image {
  width: 171px;
  height: 100px;
  margin-top: 22px;
  object-fit: cover;
  border: 1px solid black;
}

.works_text {
  display: block;
  font-size: 20px;
  color: #8d7962;
  padding-top: 5px;
  font-weight: bold;
}

.works_text_position {
  width: 100%;
  height: 84px;
}

.works_circle {
  width: 195px;
  height: 190px;
  border-radius: 90px;
  background-color: white;
  position: absolute;
  opacity: 0.5;
  top: 70px;
  right: 27px;
  border: 5px solid white;
}
.works_circle_second {
  width: 195px;
  height: 190px;
  border-radius: 90px;
  position: absolute;
  right: 150px;
  top: 133px;
  border: 5px solid white;
  z-index: -1;
}
.works_circle_third {
  width: 195px;
  height: 190px;
  border-radius: 90px;
  position: absolute;
  left: 35px;
  bottom: 100px;
  background-color: white;
  border: 5px solid white;
}

.works_circle_force {
  width: 195px;
  height: 190px;
  border-radius: 90px;
  position: absolute;
  left: 150px;
  bottom: 163px;
  opacity: 0.5;
  border: 5px solid white;
}

/* Profile */

.profile_background {
  height: 840px;
  position: relative;
  background-color: #bc9c78;
  margin-top: -48px;
  /* z-index: -1; */
}

.profile_title {
  max-width: 1500px;
  width: 100%;
  font-size: 115px;
  font-weight: bold;
  color: white;
  padding-top: 55px;
  padding-left: 30px;
  padding-bottom: 30px;
  font-family: "Archivo Black", sans-serif;
}

.profile_border {
  position: relative;
}

.profile_title::after {
  content: "";
  width: 490px;
  height: 2px;
  position: absolute;
  top: 190px;
  left: 30px;
}

.profile_name {
  font-size: 30px;
  letter-spacing: 2px;
  padding-left: 30px;
  padding-bottom: 10px;
  color: white;
}

.profile_text {
  font-size: 15px;
  line-height: 1.8;
  padding-left: 30px;
  color: white;
  width: 698px;
}

.profile_image {
  position: relative;
  top: 15px;
  left: 30px;
  height: 272px;
  border-radius: 30px;
  z-index: 1;
}

.profile_position {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.profile_pawpad_move {
  position: absolute;
  left: 300px;
  top: 65px;
  width: 100%;
  height: 400px;
}

.profile_pawpad_move::after {
  content: "";
  position: absolute;
  left: 210px;
  top: 2px;
  width: 160px;
  height: 90px;
}

.profile_like_title {
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 7px;
  font-size: 21px;
  font-weight: bold;
  color: white;
  font-family: "Archivo Black", sans-serif;
}

.profile__circle {
  width: 195px;
  height: 190px;
  border-radius: 90px;
  background-color: white;
  position: absolute;
  opacity: 0.5;
  top: 70px;
  right: 27px;
  border: 5px solid white;
}
.profile__circle_second {
  width: 195px;
  height: 190px;
  border-radius: 90px;
  position: absolute;
  right: 150px;
  top: 133px;
  border: 5px solid white;
}
.profile__circle_third {
  width: 195px;
  height: 190px;
  border-radius: 90px;
  position: absolute;
  left: 35px;
  bottom: 60px;
  background-color: white;
  border: 5px solid white;
}

.profile__circle_force {
  width: 195px;
  height: 190px;
  border-radius: 90px;
  position: absolute;
  left: 150px;
  bottom: 123px;
  opacity: 0.5;
  border: 5px solid white;
}

.about_wrapper {
  height: 864px;
  margin-top: 76px;
  background-color: #bc9c78;
  border-radius: 50px;
  z-index: 3;
  position: relative;
}

.about_like_wapper {
  display: flex;
}

.about_like_box {
  display: flex;
  gap: 15px;
  width: 500px;
  height: 136px;
  border-radius: 50%;
  margin-left: 33px;
  position: absolute;
}

.profile_link {
  color: white;
}

.profile_link:hover {
  opacity: 0.5;
}

.profile_link_position {
  width: 100%;
  text-align: end;
  max-width: 1272px;
  /* padding-left: 38px; */
  position: relative;
  /* margin-top: -48px; */
  padding-top: 10px;
  padding-right: 52px;
}

.profile_link::after {
  content: "";
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  width: 7px;
  height: 7px;
  position: absolute;
  transform: rotate(-45deg);
  top: 17px;
  right: 42px;
}

/* About */

.about_background {
  height: 800px;
  position: relative;
}

.about_border {
  position: relative;
}

.about_title {
  max-width: 1500px;
  width: 100%;
  height: 190px;
  font-size: 115px;
  font-weight: bold;
  margin-bottom: 12px;
  color: white;
  padding-top: 60px;
  padding-left: 30px;
  font-family: "Archivo Black", sans-serif;
}

.about_name {
  font-size: 30px;
  padding-left: 30px;
  padding-bottom: 10px;
  color: white;
  letter-spacing: 2px;
  padding-top: 68px;
}

.about_text {
  font-size: 15px;
  line-height: 1.8;
  padding-left: 30px;
  color: white;
  width: 698px;
}

.about_position {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.profile_image_box {
  width: 100%;
  height: 287px;
}

.about_like_dog_area,
.about_like_game_area,
.about_like_anime_area {
  position: relative;
  width: 100px;
  height: 87px;
  background: #8d7962;
  border-radius: 26px;
}

.about_like_text {
  padding-left: 12px;
  padding-top: 4px;
  font-size: 12px;
  color: white;
}

.like_dog_logo {
  position: absolute;
  right: 28px;
  width: 49px;
  top: 14px;
}

.like_game_logo {
  position: absolute;
  right: 24px;
  width: 55px;
  top: 18px;
}

.like_anime_logo {
  position: absolute;
  right: 22px;
  width: 55px;
  top: 18px;
}

/* My Strength */

.mystrength_container {
  background-color: #ffedb3;
  width: 100%;
  height: 844px;
  position: relative;
  margin-top: -40px;
  z-index: 2;
  border-radius: 0 0 50px 50px;
}

.mystrength_title {
  width: 1500px;
  font-size: 115px;
  font-weight: bold;
  color: #8d7962;
  padding-top: 80px;
  padding-left: 30px;
  padding-bottom: 35px;
  font-family: "Archivo Black", sans-serif;
}

.mystrength_sub_title {
  color: #8d7962;
  font-size: 24px;
  padding-bottom: 4px;
}

.mystrength_text {
  color: #8d7962;
  line-height: 1.8;
}

.mystrength_sub_box {
  padding: 20px;
  border-bottom: 3px solid #8d7962;
  margin: 0 30px;
  position: relative;
}

.mystrength_listen_logo {
  position: absolute;
  right: 255px;
  top: 20px;
  opacity: 0.3;
}

.mystrength_telephone_logo {
  position: absolute;
  right: 255px;
  top: 20px;
  opacity: 0.3;
}

.mystrength_explanation_logo {
  position: absolute;
  right: 255px;
  top: 20px;
  opacity: 0.3;
}

.mystrength_circle {
  width: 195px;
  height: 190px;
  border-radius: 90px;
  background-color: white;
  position: absolute;
  opacity: 0.5;
  top: 70px;
  right: 27px;
  border: 5px solid white;
}
.mystrength_circle_second {
  width: 195px;
  height: 190px;
  border-radius: 90px;
  position: absolute;
  right: 150px;
  top: 133px;
  border: 5px solid white;
}

/* skill */
.skill_container {
  display: block;
  width: 100%;
  height: 1250px;
  background-color: #bc9c78;
  position: relative;
  margin-top: -40px;
}

.skill_wrapper {
  padding-left: 30px;
  display: flex;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.skill_box {
  display: flex;
  gap: 15px;
}

.skill_content {
  background-color: #8d7962;
  width: 349px;
  height: 399px;
  position: relative;
  border-radius: 40px;
  line-height: 1.8;
  z-index: 1;
}

.skill_area {
  text-align: center;
  border-bottom: 1px dashed white;
  padding: 12px;
}

.skill_title {
  width: 1500px;
  font-size: 115px;
  font-weight: bold;
  color: white;
  padding-top: 80px;
  padding-left: 30px;
  font-family: "Archivo Black", sans-serif;
}

.skill_sub_title {
  color: white;
}

.skill_image {
  padding-top: 5px;
}

.skill_text_group {
  display: flex;
  padding-top: 5px;
}

.skill_text_sub {
  margin-left: 7px;
  color: white;
  padding-top: 2px;
}

.skill_text {
  border: 1px solid white;
  text-align: center;
  color: white;
  margin-left: 10px;
  padding: 2px;
}

.skill_circle {
  width: 195px;
  height: 190px;
  border-radius: 90px;
  background-color: white;
  position: absolute;
  opacity: 0.5;
  top: 70px;
  right: 27px;
  border: 5px solid white;
}
.skill_circle_second {
  width: 195px;
  height: 190px;
  border-radius: 90px;
  position: absolute;
  right: 150px;
  top: 133px;
  border: 5px solid white;
}

.mystrength_circle {
  width: 195px;
  height: 190px;
  border-radius: 90px;
  background-color: white;
  position: absolute;
  opacity: 0.5;
  top: 70px;
  right: 27px;
  border: 5px solid white;
}
.mystrength_circle_second {
  width: 195px;
  height: 190px;
  border-radius: 90px;
  position: absolute;
  right: 150px;
  top: 133px;
  border: 5px solid white;
}

/* ここまで */

@media screen and (max-width: 575px) {

  main{
    display: flex;
    justify-content: center;
  }

  footer{
    display: flex;
    justify-content: center;
  }

  .center_logo {
    height: 360px;
    width: 100%;
  }

  .center_logo_circle {
    border: none;
    background: none;
  }
  .center_logo_circle_second {
    border: none;
  }
  .center_logo_circle_third {
    border: none;
    background: none;
  }

  .center_logo_circle_force {
    border: none;
  }

  .dog_center_logo_box {
    width: 390px;
  }

  .center_white_square {
    border: 4px solid white;
    width: 150px;
    height: 150px;
    position: relative;
    top: 100px;
    left: 80px;
  }

  .dog_center_logo {
    max-width: 390px;
    width: 100%;
  }

  .hero_container {
    height: 844px;
    padding-top: 300px;
  }

  .dog_center_logo_backcolor {
    height: 360px;
    width: 100%;
  }

  .wrapper {
    height: 1115px;
  }

  .profile_wrapper {
    height: 800px;
  }

  .profile_title {
    font-size: 50px;
    padding-top: 110px;
    padding-left: 15px;
  }

  .profile_pawpad_move::after {
    top: -19px;
    left: -71px;
    animation-duration: 5s;
  }
  .top_link {
    right: 0;
    top: 686px;
  }

  .about_image_area {
    margin: 0 auto;
  }

  .about_name {
    font-size: 25px;
    padding-left: 0;
    width: 339px;
  }

  .about_title {
    font-size: 50px;
    padding-left: 15px;
    max-width: 390px;
    height: 136px;
  }

  .about_text {
    font-size: 13px;
    width: 339px;
    padding-left: 0;
  }

  .about_position {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }

  .about_background {
    width: 390px;
  }

  .about_like_dog_area,
  .about_like_game_area,
  .about_like_anime_area {
    width: 71px;
    height: 59px;
  }

  .about_introduction_area {
    margin: 0 auto;
  }

  .profile_like_title_area {
    left: 144px;
  }

  .profile_like_title {
    padding-left: 0;
    border-top: 1px solid;
    margin-top: 15px;
    padding-top: 12px;
  }
  .about_like_box {
    width: 323px;
    height: 95px;
    margin-left: 0;
    justify-content: center;
  }

  .about_linebreak br {
    display: none;
  }

  .like_dog_logo {
    width: 27px;
    right: 24px;
    top: 22px;
  }

  .like_game_logo {
    width: 34px;
    top: 20px;
    left: 18px;
  }

  .like_anime_logo {
    width: 29px;
    top: 21px;
  }

  .container {
    width: 390px;
  }

  .profile_title::after {
    width: 223px;
    top: 133px;
  }

  .profile_position {
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }

  .profile_text_box {
    margin: 0 auto;
  }

  .profile_name {
    padding-left: 0;
    width: 324px;
    font-size: 18px;
  }

  .profile_text {
    font-size: 13px;
    width: 339px;
    padding-bottom: 15px;
    padding-left: 0;
  }

  .profile_link {
    font-size: 13px;
  }

  .profile_image {
    height: 180px;
    top: 0;
    left: 0;
  }

  .profile_image_area {
    margin: 0 auto;
  }

  .profile_link_position {
    text-align: start;
    padding-left: 234px;
    padding-top: 48px;
  }

  .profile_link::after {
    margin-top: 49px;
    left: 328px;
  }

  .profile_image_box {
    height: 205px;
    width: 100%;
  }

  .header_logo_text {
    font-size: 14px;
  }
  .gloval_nav_lists {
    font-size: 13px;
  }
  .gloval_nav_wrapper {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 390px;
    width: 100%;
  }

  /* .works_image_backgroundcolor {
    height: 185px;
  } */

  .works_image {
    width: 182px;
  }

  .works_items {
    height: 100%;
    /* width: 190px; */
    margin: 0 auto;
  }

  /* .works_logo_image{
    padding-bottom: 0;
    margin-top: 0
  } */

  .works_text_position {
    height: 55px;
  }

  .works_content {
    flex-direction: column;
    /* padding: 0; */
    justify-content: start;
  }

  .works_wrapper {
    height: 2600px;
  }

  .works_title {
    font-size: 50px;
    padding-top: 70px;
    padding-left: 15px;
    padding-bottom: 30px;
  }

  .works_box {
    width: 390px;
    height: 1020px;
  }

  .works_preparation_image {
    height: 120px;
  }

  .works_circle {
    background: none;
    border: none;
  }

  .works_circle_second {
    border: none;
  }

  .works_circle_third {
    background: none;
    border: none;
  }

  .works_circle_force {
    border: none;
  }

  .profile_background {
    width: 390px;
  }

  .dog_color_white {
    font-size: 32px;
    line-height: 120px;
  }
  .anime_color_white {
    font-size: 32px;
    line-height: 197px;
    top: 9px;
  }
  .game_fontsize {
    font-size: 32px;
    left: 232px;
    top: 0;
  }
  .dog_triangle {
    height: 148px;
    width: 100%;
    max-width: 993px;
  }
  .anime_triangle {
    height: 148px;
    width: 100%;
    max-width: 993px;
  }

  .dog_logo {
    right: 187px;
    bottom: 67px;
    width: 53px;
  }

  .anime_logo {
    width: 53px;
    top: 83px;
    left: 155px;
  }

  .game_logo {
    width: 53px;
    left: 327px;
  }
  .game_text_position {
    bottom: 175px;
  }

  /* my strength */
  .mystrength_container {
    height: 875px;
  }

  .mystrength_title {
    font-size: 50px;
    padding-left: 15px;
    max-width: 390px;
    width: 100%;
    padding-top: 60px;
  }

  .mystrength_text {
    font-size: 13px;
  }

  .mystrength_sub_box {
    width: 330px;
  }

  .mystrength_circle {
    border: none;
    background: none;
  }

  .mystrength_circle_second {
    border: none;
  }

  /* skill */
  .skill_container {
    height: 1436px;
  }

  .skill_wrapper {
    padding-left: 0;
    justify-content: center;
  }

  .skill_box {
    flex-direction: column;
  }

  .skill_title {
    font-size: 50px;
    padding-left: 15px;
    max-width: 390px;
    width: 100%;
  }

  .skill_circle {
    border: none;
    background: none;
  }

  .skill_circle_second {
    border: none;
  }

  /* footer */
  .contact_title {
    padding-top: 80px;
    font-size: 50px;
  }

  .footer_contact_title {
    padding-top: 10px;
    padding-bottom: 4px;
  }

  .footer_mail_font {
    font-size: 14px;
    padding-bottom: 20px;
  }

  .footer_mail_box {
    width: 254px;
    height: 42px;
  }

  .fotter_mail_text {
    font-size: 15px;
  }

  .footer_sns_position {
    left: 7px;
    top: 0;
  }

  .footer_sns_color {
    width: 18px;
  }

  .footer_color {
    height: 65px;
    max-width: 390px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 0;
    font-size: 13px;
  }
  .footer_backcolor {
    width: 100%;
    max-width: 390px;
    display: flex;
    flex-direction: column-reverse;
    gap: 66px;
    padding-top: 0;
  }

  .footer_contact_position {
    margin: 0 auto;
  }

  .footer_mail_font_linebreak {
    display: inline;
  }

  #menu-panel {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
    padding: 8rem 8rem 2rem;
    width: max(23vw, 25rem);
    height: 100vh;
    box-shadow: 0 0 2rem var(--brown);
    font-family: var(--oswald-font);
    translate: 103vw;
    border-left: 4px solid white;
  }
}
